<!DOCTYPE html>
<html>
<head>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Monster</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css" />
</head>
<body style="background:linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('bg.jpg');background-image:url('/assets/img/my_movie_store_dvds_pack_3_by_ibg_5.jpg');">
    <h1 class="text-center text-white d-none d-lg-block site-heading"><span class="site-heading-lower" style="background-color: #343a40!important;">Movie monster</span></h1>
    <nav class="navbar navbar-light navbar-expand-lg bg-dark py-lg-4" id="mainNav">
        <div class="container">
            <a href="#" class="navbar-brand text-uppercase d-lg-none text-expanded">Brand</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav mx-auto">
                    <li role="presentation" class="nav-item"><a href="/Home" class="nav-link">Home</a></li>
                    <li role="presentation" class="nav-item"><a href="/Home/About" class="nav-link">About us</a></li>
                    <li role="presentation" class="nav-item"><a onclick="loadTableMovies()" class="nav-link">Products</a></li>
                    <li role="presentation" class="nav-item"><a href="/Sales" class="nav-link">Cart</a></li>


                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
                    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
                    <div class="search__wrapper">
                        <input type="text" id="searchTxt" name="searchTxt" placeholder="Search for..." class="search__field"></input>
                        <button id="search-btn" type="submit" class="fa fa-search search__icon" onclick="Search()"></button>
                        <a onclick="AdvancedSearchPage()">AdvancedSearch</a>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <div id="bodyContainer" class="container" style="background-color: #ffffff;">
        @RenderBody()
    </div>
    <section class="page-section clearfix"></section>
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright © MMDO 2018</p>
        </div>
    </footer>

    <link rel="stylesheet" type="text/css" href="~/assets/css/searchCss.css">
    @*   @section Scripts{ *@
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/current-day.js"></script>
    <script src="~/assets/js/MovieMonstersScript.js"></script>
      @* } *@
    @RenderSection("Scripts", required: false)


</body>
</html>



@*
    JSON.stringify()

*@