@{
    ViewBag.Title = "PieChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Pie Chart</h2>

<h3>Sales per movie</h3>


<div id="chart"></div>
<script src="d3.v4.min.js"></script>
<script>
    (function (d3) {
        'use strict';
        dataset = [];

        $.ajax({
            'type': 'POST',
            'dataType': 'json',
            'url': "/Sales/QuantityJson",
            'success': function (result) {
                var data = [];
                for (var i = 0; i < result.length; i++) {
                    data.push({ label: result[i].label, value: result[i].quantity });
                }
                pieBuild(data);
            },
            'error': function () {
                alert("Error while fetching data");
            }
        });


        function pieBuild(piedata) {

            var width = 400,
                height = 400,
                radius = 200
            colors = d3.scale.ordinal()
                .range(['#595AB7', '#A57706', '#D11C24', '#C61C6F', '#BD3613', '#2176C7', '#259286', '#738A05']);

            var pie = d3.layout.pie()
                .value(function (d) {
                    return d.value;
                });

            var arc = d3.svg.arc()
                .outerRadius(radius);

            var myChart = d3.select('#pie1').append('svg')
                .attr('width', width)
                .attr('height', height)
                .append('g')
                .attr('transform', 'translate(' + (width - radius) + ',' + (height - radius) + ')')
                .selectAll('path').data(pie(piedata))
                .enter().append('g')
                .attr('class', 'slice');



            var slices = d3.selectAll('g.slice')
                .append('path')
                .attr('fill', function (d, i) {
                    return colors(i);
                })
                .attr('d', arc);

            var text = d3.selectAll('g.slice')
                .append('text')
                .text(function (d, i) {
                    return d.data.label + " , " + d.data.value;
                })
                .attr('text-ancor', 'end')
                .attr('fill', 'white')
                .attr('transform', function (d) {
                    d.innerRadius = 0;
                    d.outerRadius = radius;
                    return 'translate(' + arc.centroid(d) + ')'

                });
        }
</script>



